[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "glm"]
	path = glm
	url = https://github.com/aodq/glm
[submodule "glfw"]
	path = glfw
	url = https://github.com/aodq/glfw
[submodule "enet"]
	path = enet
	url = https://github.com/lsalzman/enet
[submodule "tiny-process-library"]
	path = tiny-process-library
	url = https://github.com/eidheim/tiny-process-library
